
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-climbing-dot" [fullScreen] = "true">
  <p style="color: white" > Loading... 

  </p></ngx-spinner>








<!-- Button trigger modal -->
<!--     -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Privacy Policy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
Privacy Policy of scrap2cash
At scrap2cash.in, accessible from scrap2cash.in, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by scrap2cash.in and how we use it.
If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in scrap2cash.in. This policy is not applicable to any information collected offline or via channels other than this website.
Consent
By using our website, you hereby consent to our Privacy Policy and agree to its terms.
Information we collect
The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
If you contact us directly, we may receive additional information about you such as your name, email address, phone number, and the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.
How we use your information
We use the information we collect in various ways, including to:
Provide, operate, and maintain our website
Improve, personalize, and expand our website
Understand and analyze how you use our website
Develop new products, services, features, and functionality
Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes
Send you emails
Find and prevent fraud
Our Advertising Partners
Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.
Google
https://policies.google.com/technologies/ads
You may consult this list to find the Privacy Policy for each of the advertising partners of scrap2cash.in.
Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on scrap2cash.in, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
Note that scrap2cash.in has no access to or control over these cookies that are used by third-party advertisers.
CCPA Privacy Rights (Do Not Sell My Personal Information)
Under the CCPA, among other rights, California consumers have the right to:
Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.
Request that a business delete any personal data about the consumer that a business has collected.
Request that a business that sells a consumer's personal data, not sell the consumer's personal data.
If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
GDPR Data Protection Rights
We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.
The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.
The right to erasure – You have the right to request that we erase your personal data, under certain conditions.
The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.
The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.
The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.
If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
Children's Information
Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.
scrap2cash.in  does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>






  

<div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 login-box">
                    <div class="card card-default">
                        <div class="panel-intro text-center" style="margin-top:-20px;">
                            <h2 class="logo-title">
                                <!-- Original Logo will be placed here  -->
                                <span class="logo-icon">Scrap</span>2<span>Cash </span>
                            </h2>
                        </div>

                        <div class="card-body" style="margin-top:-30px;">
                            <form >
                                
            <span class="text-success text-center" *ngIf="email_id"> We have sent activation link on {{ email_id.response }} proceed with it.</span>

              <span class="text-danger text-center" *ngIf="error"> {{ error }}</span>

                                <div class="form-group">
                                    <label for="sender-email" class="control-label">Email:</label>

                                    <div class="input-icon"><i class="icon-user fa"></i>
                                        <input [(ngModel)]="registerModel.email"   id="sender-email" type="text" placeholder="Email"
                                        class="form-control email" name="email" required>
                                    </div>
                                </div>
                             

                             <div class="form-group">
                                    <label for="sender-email" class="control-label">First Name:</label>

                                    <div class="input-icon"><i class="icon-user fa"></i>
                                        <input [(ngModel)]="registerModel.first_name"   id="sender-email" type="text" placeholder="First name"
                                        class="form-control email" name="first_name" required>
                                    </div>
                                </div>

                           <div class="form-group">
                                    <label for="sender-email" class="control-label">Last Name:</label>

                                    <div class="input-icon"><i class="icon-user fa"></i>
                                        <input [(ngModel)]="registerModel.last_name"   id="sender-email" type="text" placeholder="last name"
                                        class="form-control email" name="last_name" required>
                                    </div>
                                </div>
                             


                                <div class="form-group">
                                    <label for="user-pass" class="control-label">Password:</label>

                                    <div class="input-icon"><i class="icon-lock fa"></i>
                                        <input [(ngModel)]="registerModel.password" type="password" class="form-control" placeholder="Password"
                                               id="user-pass" name="password" required>
                                    </div>
                                </div>
                                

                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                        <label class="form-check-label" for="exampleCheck1">                                 Please read our <a href="#" data-toggle="modal" data-target="#exampleModal"> terms and conditions </a> before you register.</label>
                      </div>


                                <div class="form-group">

                                    <input (click)="onRegister()" name="submit" class="btn btn-primary  btn-block" value="Submit"
                                           type="submit">
                                </div>


                            </form>
                        </div>
                <div class="card-footer">
                    <p > Already have an account? &nbsp;&nbsp;
                        <a routerLink="/login"><strong>Login</strong> 
                            </a>
                        </p>

                </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.main-container -->

    





















