
   <div class="main-container">
        <div class="container">
            <div class="row">

				<div class="col-md-3 page-sidebar">
                    <aside>
                        <div class="inner-box">
                            <div class="user-panel-sidebar">
                                <div class="collapse-box">
                                <h5 class="collapse-title no-border"> My Classified <a href="#MyClassified"  aria-expanded="true"  data-toggle="collapse"class="pull-right"><i
                                            class="fa fa-angle-down"></i></a></h5>

                                    <div class="panel-collapse collapse show" id="MyClassified">
                                        <ul class="acc-list">
                                            <li>
                                            <a  routerLink="/profile"><i class="icon-home"></i>
                                                Personal Home </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.collapse-box  -->
                                <div class="collapse-box">
                                    <h5 class="collapse-title"> My Ads <a href="#MyAds" aria-expanded="true"  data-toggle="collapse"
                                                                          class="pull-right"><i
                                            class="fa fa-angle-down"></i></a></h5>

                                    <div class="panel-collapse collapse show" id="MyAds">
                                        <ul class="acc-list">
                                            <li><a routerLink="/my_ads"><i class="icon-docs"></i> My ads <span
                                                    class="badge"></span> </a></li>
                                           

                                           <li ><a class="active" routerLink="/approoved_ads"><i
                                                    class="icon-hourglass"></i> Approved Ads <span
                                                    class="badge"></span>
                                              </a></li>

                                            <li><a routerLink="/unapprooved_ads"><i
                                                    class="icon-hourglass"></i> Pending approval <span
                                                    class="badge"></span>
                                              </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.inner-box  -->

                    </aside>
                </div>


  			





  			<div class="col-md-9 page-content">
                    <div class="inner-box">
                        <h2 class="title-2"><i class="icon-docs"></i> My Ads </h2>

                        <div class="table-responsive">
                            <div class="table-action">
                              
                            </div>
                            <table id="addManageTable"
                                   class="table table-striped table-bordered add-manage-table table demo"
                                   data-filter="#filter" data-filter-text-only="true">
                                <thead>
                                <tr>
                                    <th data-type="numeric" data-sort-initial="true"></th>
                                    <th> Photo</th>
                                    <th data-sort-ignore="true"> Adds Details</th>
                                    <th data-type="numeric"> Price</th>
                                    <th> Option</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let i of my_ads">
                                    <td style="width:2%" class="add-img-selector">
                                       
                                    </td>
                                    <td style="width:14%" class="add-img-td">
                                    	<a routerLink="." (click)="getPost(i)">
                                    	<img class="thumbnail  img-responsive"
                                            src="{{ i.images }}"
                                            alt="img"></a>
                                        </td>
                                    <td style="width:58%" class="ads-details-td">
                                        <div>
                                            <p><strong> <a href="ads-details.html" title="Brand New Nexus 4">{{ i.product_name | titlecase }}</a> </strong></p>

                                            <p><strong> Posted On </strong>:
                                                {{ i.uploaded_on |date: 'yyyy/MM/dd h:mm:ss a' }} </p>

                                            <p>Located In: {{ i.country|titlecase }} | {{ i.state|titlecase }} 
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width:16%" class="price-td">
                                         <div>
                                            <strong> ₹</strong>
                                             {{ i.selling_price }}</div>
                                    </td>
                            <td style="width:10%" class="action-td">
                            <div>
                        

                                <p>
                                    <a class="btn btn-danger btn-sm"  (click)="deletePost(i)"> <i class=" fa fa-trash"></i> Delete
                                     </a>
                                </p>
                                </div>

                            </td>
                            <td style="width:10%" class="action-td">
                            <div>
                                <p>
                                <a routerLink="." 
                                (click)="getUpdateData(i.post_id)" class="btn btn-info btn-sm" > <i class=" fa fa-edit"></i> Edit
                                </a>
                                </p>
                                </div>
                            </td>
                    </tr>

                           
                             
                                </tbody>
                            </table>
                        </div>
                        <!--/.row-box End-->

                    </div>
                </div>
                <!--/.page-content-->


  		</div>
	</div>
</div>


